.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
.vs/mobilePTO/FileContentIndex/e816fe4b-c6b3-4279-aef0-de8cdcf26ad2.vsidx
.vs/mobilePTO/v17/.wsuo
.vs/mobilePTO/v17/DocumentLayout.backup.json
.vs/mobilePTO/v17/DocumentLayout.json
